:root {
    --bg-color: #000;
    --main-color: #000;
    --secondary-color: #E2BCB4;
    --tertiary-color: #8856F3;
    --text-color: #fff;
    --main-grey: #333;
    --bg-nav: #131313;
}

.secondary-color {
    color: var(--secondary-color);
}

.tertiary-color {
    color: var(--tertiary-color);
}

$base-font-size: 16px;

$expoOut: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$expoInOut: cubic-bezier(.1, 0, 0, 1);
$inOut: cubic-bezier(.17,.67,.83,.67);
