$maincolor: #000;
$secondary: #E2BCB4;
$tertiary: #8856F3;

$blackcolor: #000;
$textcolor: #fff;

$maingrey: #F5F5F5;
$lightcolor: #fff;


$base-font-size: 16px;

$expoOut: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$expoInOut: cubic-bezier(.1, 0, 0, 1);
$inOut: cubic-bezier(.17,.67,.83,.67);
